<div id="actions">
    <ul>
      <% if (page.prev) { %>
      <li><a class="icon" href="<%- url_for(page.prev.path) %>" aria-label="<%= __('post.desktop.previous') %>"><i class="fas fa-chevron-left fa-lg" aria-hidden="true"></i></a></li>
      <% } %>
      <% if (page.next) { %>
      <li><a class="icon" href="<%- url_for(page.next.path) %>" aria-label="<%= __('post.desktop.next') %>"><i class="fas fa-chevron-right fa-lg" aria-hidden="true"></i></a></li>
      <% } %>
      <li><a class="icon" href="#" aria-label="<%= __('post.desktop.back_to_top') %>"><i class="fas fa-chevron-up fa-lg" aria-hidden="true"></i></a></li>
    </ul>
</div>